<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>BuzzFeed Scraper</title>
</head>

<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">BuzzFeed Scraper</h1>
            <p class="lead">Scrape and comment on trending BuzzFeed articles</p>
            <button class="btn m-1">View All</button><button class="btn m-1">Scrape More</button>
        </div>
    </div>
</header>

<body>
  {{{body}}}
</body>

</html>